@inject IJSRuntime JSRuntime
@inherits TazorBaseComponent
<a class=@(Theme.Utility.DarkModeSwitch.Link) onclick=@(() => OnHandleChange(!IsDarkModeEnabled))>
    @if (IsDarkModeEnabled)
    {
        @HeroIconsOutline.LightBulb("w-5 h-5")
    }
    else
    {
        @HeroIconsSolid.LightBulb("w-5 h-5")
    }
</a>
@code {
    [Parameter]
    public bool IsDarkModeEnabled { get; set; } = true;

    public EventCallback<bool> IsDarkModeEnabledChanged { get; set; }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        try
        {
            if (firstRender)
            {
                IsDarkModeEnabled = await JSRuntime.InvokeAsync<bool>("getDarkMode");
            }
        }
        catch
        {
            Console.WriteLine("Uh oh.");
        }

        await base.OnAfterRenderAsync(firstRender);
    }

    public async void OnHandleChange(bool newValue)
    {
        IsDarkModeEnabled = newValue;

        await IsDarkModeEnabledChanged.InvokeAsync(newValue);

        await JSRuntime.InvokeVoidAsync("setDarkMode", IsDarkModeEnabled);
        StateHasChanged();
    }
}