@inherits TazorBaseComponent
<a class=@(Theme.Utility.DarkModeSwitch.Link) onclick=@(() => OnHandleChange(!IsDarkModeEnabled))>
    @if (IsDarkModeEnabled)
    {
        @HeroIconsOutline.LightBulb("w-5 h-5")
    }
    else
    {
        @HeroIconsSolid.LightBulb("w-5 h-5")
    }
</a>