@inherits LayoutComponentBase

<div class="w-full">
    <Header />
    <main class="container mx-auto">
        <Alert Type="AlertType.Info" Title="Current Branch: overhaul">
            <Content>
                Tazor is currently going through an overhaul. The goal is to create an entire set of UI components, improve theming, fix bugs and improve usability. If you download the source from github, please take the <a href="https://github.com/jsedlak/tazor/tree/overhaul" target="_blank">Overhaul Branch</a>.
            </Content>
        </Alert>
        @Body
    </main>
    <Footer />
</div>
