@inherits TazorBaseComponent
@typeparam TItem where TItem : class
<ClickContainer2 OnClickedOutside=OnClickedOutside>
    <div class=@Theme.Forms.OmniBox.Wrapper >
        @if (!_shouldShowTextBox)
        {
            <div
                @onclick=@OnHandleClickViewer
                @onclick:preventDefault="true"
                @onclick:stopPropagation="true"
                class=@Theme.Forms.OmniBox.Viewer>
                <div>
                @if (SelectedItem == null)
                {
                    @PlaceholderTemplate
                }
                else
                {
                    @SelectedItemTemplate(SelectedItem)
                }
                </div>
            </div>
        }
        else
        {
            <input type="text"
                   value=@Input
                   @ref=@_textboxReference
                   @oninput=@OnInputChanged
                   @onkeydown=@OnKeyDown
                   autofocus="true"
                   @onkeydown:preventDefault=@_shouldPreventOnKeyDown
                   placeholder="Type a command..."
                   class=@Theme.Forms.OmniBox.Input />
            @if (_searchResults.Any())
            {
                <ul class="list-none absolute top-100 left-0 max-h-80 overflow-y-auto bg-gray-50 dark:bg-gray-900 dark:text-white z-50">
                    @foreach (var item in _searchResults)
                    {
                        <li onclick=@(async () => await SelectItemAsync(item))
                            class=@(_currentResultIndex.HasValue && item == _searchResults[_currentResultIndex.Value] ? Theme.Forms.OmniBox.ListItemActive : Theme.Forms.OmniBox.ListItem)>
                            @(ItemTemplate(item))
                        </li>
                    }
                </ul>
            }
        }
    </div>
</ClickContainer2>