@page "/docs/menus"

<PageTitle>Menus - Tazor Components</PageTitle>

<div class="container mt-5 mb-5 mx-auto">
    <PageHeader>Menus</PageHeader>

    <Section Title="Horizontal Menu">
        <HorizontalMenu>
            <MenuItem Href="/" Text="Home" />
            <MenuItem Href="/" Text="Docs">
            <MenuItem Href="/docs/menus" Text="Menus" />
            </MenuItem>
            <MenuItem Href="/" Text="About" />
        </HorizontalMenu>
    </Section>

    <Section Title="Vertical Menu">
        <Section>
            <p class="mb-3">This vertical menu is a simple vertical style.</p>
            <VerticalMenu>
                <MenuItem Href="/" Text="Home" />
                <MenuItem Href="/" Text="Docs" Orientation=@Orientation.Vertical>
                <MenuItem Href="/docs/menus" Text="Menus" />
                </MenuItem>
                <MenuItem Href="/" Text="About" />
            </VerticalMenu>
        </Section>

        <Section>
            <p class="mb-3">This vertical menu uses a clicking expander.</p>
            <VerticalMenu>
                <MenuItem Href="/" Text="Home" />
                <MenuItem Href="/" Text="Docs" Orientation=@Orientation.Vertical Mode=@MenuMode.Click>
                <MenuItem Href="/docs/menus" Text="Menus" />
                </MenuItem>
                <MenuItem Href="/" Text="About" />
            </VerticalMenu>
        </Section>
    </Section>
</div>