@inherits TazorBaseComponent
<CascadingValue Name="Accordion" Value=@this>
    <div class=@Theme.Layout.Accordion.Container>
        @ChildContent
    </div>
</CascadingValue>
@code {
    [Parameter]
    public RenderFragment? ChildContent { get; set; }

    [Parameter]
    public bool MultiOpen { get; set; } = false;

    [Parameter]
    public AccordionFold? SelectedFold { get; set; } = null;

    [Parameter]
    public EventCallback<AccordionFold> SelectedFoldChanged { get; set; }

    public async Task SelectFold(AccordionFold? fold)
    {
        // if the current fold is not null, fold it
        if(SelectedFold != null)
        {
            await SelectedFold.FoldAsync();    
        }

        // if they are folding/unfolding the current item, then dont do anything further
        if(SelectedFold == fold) 
        { 
            return; 
        }

        // if the new fold is not null, unfold it
        if(fold != null) 
        {
            await fold.UnfoldAsync();
        }

        // set the fold
        SelectedFold = fold;
        await SelectedFoldChanged.InvokeAsync(SelectedFold);
    }
}
