@inherits TazorBaseComponent
@if(IsVisible) 
{
<div class=@Theme.Layout.Overlay.Wrapper>
    <div class=@(ContentClass ?? Theme.Layout.Overlay.Content)>
        @ChildContent
    </div>
</div>
}
@code {
    [Parameter]
    public bool IsVisible { get; set; } = false;

    [Parameter]
    public RenderFragment ChildContent { get; set; } = null!;

    [Parameter]
    public string? ContentClass { get; set; } = null;
}
