@page "/content/buttons"
@inject IThemeManager Theme
<PageTitle>Buttons - Tazor Docs</PageTitle>

<PageHead Title="Button" />

<p class="leading-loose mb-4">Buttons</p>

 <Section>
    <h2 class=@Theme.Current.Content.Header2>Options</h2>
    <table class=@Theme.Current.Table.TableElement>
        <thead class=@Theme.Current.Table.Header>
            <tr>
                <th class=@Theme.Current.Table.HeaderCell>Parameter</th>
                <th class=@Theme.Current.Table.HeaderCell>Type</th>
                <th class=@Theme.Current.Table.HeaderCell>Description</th>
            </tr>
        </thead>
        <tbody class=@Theme.Current.Table.Body>
            <tr>
                <td class=@Theme.Current.Table.Cell>Type</td>
                <td class=@Theme.Current.Table.Cell>ButtonType</td>
                <td class=@Theme.Current.Table.Cell>Informs the button component on styling choice.</td>
            </tr>

            <tr>
                <td class=@Theme.Current.Table.Cell>Disabled</td>
                <td class=@Theme.Current.Table.Cell>boolean</td>
                <td class=@Theme.Current.Table.Cell>Defines whether or not the button may be clicked</td>
            </tr>

            <tr>
                <td class=@Theme.Current.Table.Cell>Block</td>
                <td class=@Theme.Current.Table.Cell>boolean</td>
                <td class=@Theme.Current.Table.Cell>Button will be full width when true.</td>
            </tr>
        </tbody>
    </table>
</Section>

<TabNav Items=_exampleNavItems @bind-SelectedItem=_selectedExampleNavItem />
@if (_selectedExampleNavItem?.Key == "demo")
{
    <div class="grid grid-cols-5 gap-2">
        @foreach(ButtonType bt in Enum.GetValues(typeof(ButtonType)))
        {
            <Button Type=@bt>@(Enum.GetName<ButtonType>(bt))</Button>
        }
    </div>
}
else {
<CodeBlock Code=@Resources.Examples_Buttons />
}

@code {
    private NavItem? _selectedExampleNavItem;
    private IEnumerable<NavItem> _exampleNavItems = new[]
    {
        new NavItem("Demo"),
        new NavItem("Code")
    };
}
