@typeparam TItem
@inherits TazorBaseComponent
<div class=@Theme.Data.ListView.Wrapper>
    @if (Items is not null)
    {
        <ul class=@Theme.Data.ListView.List>

            @foreach (var item in Items)
            {
                <li class=@Theme.Data.ListView.ListItem>
                    @if (ItemTemplate == null)
                    {
                        @item?.ToString()
                    }
                    else
                    {
                        @(ItemTemplate(item))
                    }
                </li>
            }
        </ul>
    }
</div>