@inject IThemeManager Theme
<div class=@Theme.Current.Pager.Wrapper>
    <nav class=@Theme.Current.Pager.Nav aria-label="Pagination">
        @{
            var min = CurrentPage - NumberOfVisiblePages / 2;
            var max = CurrentPage + NumberOfVisiblePages / 2;

            if (min <= 0)
            {
                max += 1 - min;
                min = 1;
            }

            if (max > Pages)
            {
                min -= max - Pages;
            }

            min = Math.Max(min, 1);
            max = Math.Min(max, Pages);
        }

        @if (max - min > 0)
        {
            <a @onclick=@(() => ChangePage(CurrentPage - 1)) class=@Theme.Current.Pager.PreviousButton>
                <span class=@Theme.Current.Pager.NextPreviousText>Previous</span>
                @HeroIcons.ChevronLeft("inline-block")
            </a>




            @for (var i = min; i <= max; i++)
            {
                int pageIndex = i;
                <a @onclick=@(() => ChangePage(pageIndex)) class=@(GetPageClass(i))>@i</a>
            }


            <a @onclick=@(() => ChangePage(CurrentPage + 1)) class=@Theme.Current.Pager.NextButton>
                <span class=@Theme.Current.Pager.NextPreviousText>Next</span>
                @HeroIcons.ChevronRight("inline-block")
            </a>
        }
    </nav>
</div>
@code {
    [Parameter]
    public int Pages { get; set; }

    [Parameter]
    public int CurrentPage { get; set; }

    [Parameter]
    public EventCallback<int> CurrentPageChanged { get; set; }

    [Parameter]
    public int NumberOfVisiblePages { get; set; } = 5;

    private string GetPageClass(int pageIndex)
    {
        return pageIndex == CurrentPage ? Theme.Current.Pager.ButtonActive : Theme.Current.Pager.Button;
    }

    private async void ChangePage(int pageIndex)
    {
        CurrentPage = Math.Clamp(pageIndex, 1, Pages);

        await CurrentPageChanged.InvokeAsync(CurrentPage);
    }
}
