@inject IThemeManager Theme
<div class=@Theme.Current.Data.TreeView.Wrapper>
    <ul class=@Theme.Current.Data.TreeView.Tree>
        <CascadingValue TValue="TreeView" Name="Tree" Value="this">
            <TreeSection Items=@Items />
        </CascadingValue>
    </ul>
</div>

@code {
    [Parameter]
    public IEnumerable<ITreeItem> Items { get; set; } = Enumerable.Empty<ITreeItem>();

    [Parameter]
    public Func<ITreeItem, Task<IEnumerable<ITreeItem>>>? RequestTree { get; set; }

    [Parameter]
    public IEnumerable<ITreeItem> SelectedItems { get; set; } = Enumerable.Empty<ITreeItem>();

    [Parameter]
    public EventCallback<IEnumerable<ITreeItem>> SelectedItemsChanged { get; set; }

    public void Select(params ITreeItem[] items)
    {
        SelectedItems = items;
        SelectedItemsChanged.InvokeAsync(SelectedItems);
        StateHasChanged();
    }
}
