@inherits TazorBaseComponent
<div class=@Theme.Data.TreeView.Wrapper>
    <ul class=@Theme.Data.TreeView.Tree>
        <CascadingValue TValue="TreeView" Name="Tree" Value="this">
            <TreeSection Items=@Items />
        </CascadingValue>
    </ul>
</div>