@inject IThemeManager Theme
@inject NavigationManager Navigation
<a class=@($"{Theme.Current.Button.Global} {GetColorClass()} {GetWidthClass()}") @onclick=@HandleClick>
    @ChildContent
</a>
@code {
    [Parameter]
    public ButtonType Type { get; set; } = ButtonType.Default;

    [Parameter]
    public string? Title { get; set; } = null;

    [Parameter]
    public string? Href { get; set; } = null;

    [Parameter]
    public EventCallback Clicked { get; set; }

    [Parameter]
    public RenderFragment? Icon { get; set; } = null;

    [Parameter]
    public RenderFragment ChildContent { get; set; } = null!;

    [Parameter]
    public bool Block { get; set; } = false;

    [Parameter]
    public bool Disabled { get; set; }

    private async Task HandleClick()
    {
        if (Disabled)
        {
            return;
        }

        if (!string.IsNullOrWhiteSpace(Href))
        {
            Navigation.NavigateTo(Href);
        }
        else
        {
            await Clicked.InvokeAsync();
        }
    }

    private string GetWidthClass()
    {
        return Block ? "w-full" : "";
    }

    private string GetColorClass()
    {
        var classNames = new List<string>();

        if(Disabled)
        {
            classNames.Add(Theme.Current.Button.Disabled);
        }

        switch(Type)
        {
            case ButtonType.Default:
                classNames.Add(Theme.Current.Button.Default);
                break;
            case ButtonType.DefaultOutline:
                classNames.Add(Theme.Current.Button.DefaultOutline);
                break;
            case ButtonType.Primary:
                classNames.Add(Theme.Current.Button.Primary);
                break;
            case ButtonType.PrimaryOutline:
                classNames.Add(Theme.Current.Button.PrimaryOutline);
                break;
            case ButtonType.Success:
                classNames.Add(Theme.Current.Button.Success);
                break;
            case ButtonType.SuccessOutline:
                classNames.Add(Theme.Current.Button.SuccessOutline);
                break;
            case ButtonType.Warning:
                classNames.Add(Theme.Current.Button.Warning);
                break;
            case ButtonType.WarningOutline:
                classNames.Add(Theme.Current.Button.WarningOutline);
                break;
            case ButtonType.Error:
                classNames.Add(Theme.Current.Button.Error);
                break;
            case ButtonType.ErrorOutline:
                classNames.Add(Theme.Current.Button.ErrorOutline);
                break;
            case ButtonType.Info:
                classNames.Add(Theme.Current.Button.Info);
                break;
            case ButtonType.InfoOutline:
                classNames.Add(Theme.Current.Button.InfoOutline);
                break;
            case ButtonType.Link:
                classNames.Add(Theme.Current.Button.Link);
                break;
            default:
                classNames.Add(Theme.Current.Button.Default);
                break;
        }

        return string.Join(" ", classNames);
    }
}