@inherits TazorBaseComponent
@* @($"{Theme.Button.Global} {GetColorClass()} {GetWidthClass()}") *@
<a class="button @(GetColorClass()) @(GetWidthClass())" @onclick=@HandleClick>
    @ChildContent
</a>