@inherits TazorBaseComponent
@if (AsDiv)
{
    <div class=@Theme.Content.Lead>@ChildContent</div>
}
else
{
    <p class=@Theme.Content.Lead>@ChildContent</p>
}
@code {
    [Parameter]
    public RenderFragment? ChildContent { get; set; }

    [Parameter]
    public bool AsDiv { get; set; }
}
