@inherits TazorBaseComponent
<CascadingValue Value="this" TValue="PopoverContainer" Name="PopoverContainer">
    <ClickContainer OnClickedOutside="OnHandleClickedOutside">
        <div class=@Theme.Content.Popover.Container @onmouseover=@OnMouseOver @onmouseout=@OnMouseOut>
            @ChildContent
        </div>
    </ClickContainer>
</CascadingValue>