@inherits TazorBaseComponent
@if (IsOpen)
{
    <div class=@(IsOpen ? Theme.Content.Popover.WrapperOpen : Theme.Content.Popover)>
        @if (!string.IsNullOrWhiteSpace(Title))
        {
            <div class=@Theme.Content.Popover.Title>
                @Title
            </div>
        }
        <div class=@Theme.Content.Popover.Content>
            @ChildContent
        </div>
    </div>
}