@inject IThemeManager Theme
<div class=@Theme.Current.Content.RevealWrapper>
    <a class=@Theme.Current.Content.RevealHeader @onclick=HandleRevealChange>
        <span>@Title</span>
        <span>
            @if(IsRevealed)
            {
                @HeroIcons.ChevronUp("w-5 h-5")
            }
            else
            {
                @HeroIcons.ChevronDown("w-5 h-5")
            }
        </span>
    </a>
    @if(IsRevealed)
    {
        <div class=@Theme.Current.Content.RevealContent>
            @ChildContent
        </div>
    }
</div>
@code {
    [Parameter]
    public bool IsRevealed { get; set; } = false;

    [Parameter]
    public EventCallback<bool> IsRevealedChanged { get; set; }

    [Parameter]
    public string Title { get; set; } = "";

    [Parameter]
    public RenderFragment? ChildContent { get; set; }

    private async Task HandleRevealChange()
    {
        IsRevealed = !IsRevealed;
        await IsRevealedChanged.InvokeAsync(IsRevealed);
        StateHasChanged();
    }
}
