<section class="mt-5 mb-5">
    @if (!string.IsNullOrWhiteSpace(Title))
    {
        <h2 class="mb-3 text-2xl">@Title</h2>
    }
    @ChildContent
</section>

@code {
    [Parameter]
    public string? Title { get; set; } = null;

    [Parameter]
    public RenderFragment ChildContent { get; set; } = null!;

}