@inherits TazorBaseComponent
<div class=@Theme.Content.Spinner.Wrapper>    
    @if(Icon != null)
    {
        <div class=@Theme.Content.Spinner.SpinnerIcon>@Icon</div>
    }
    else 
    {
        <div class=@Theme.Content.Spinner.SpinnerDiv
             role="status">
        </div>
    }
    @if(!string.IsNullOrWhiteSpace(Text)) 
    {
        <span class=@Theme.Content.Spinner.Text>@Text</span>
    }
</div>

@code {
    [Parameter]
    public string? Text { get; set; } = null;

    [Parameter]
    public MarkupString? Icon { get; set; } = null;
}
