@inject NavigationManager Navigation
<li class="relative block" @onmouseenter="OnMouseEnter" @onmouseleave="OnMouseLeave">
    <a href=@Href target=@Target title=@Text class=@(GetCssClass()) @onclick="OnClicked" @onclick:preventDefault="true">
        <div class="flex items-center justify-between">
            @if (LeftIcon != null)
            {
                @((MarkupString)LeftIcon)
            }
            @Text
            @if (RightIcon != null)
            {
                @((MarkupString)RightIcon)
            }
        </div>
    </a>
    @if (IsSubMenuVisible && ChildContent != null)
    {
        <div style="min-width:150px;" class=@($"z-10 {GetDropdownCssClass()} shadow text-white")>
            <ul>
                @ChildContent
            </ul>
        </div>
    }
</li>
@code {
    [Parameter]
    public EventCallback<MenuItem> OnClick { get; set; }

    [Parameter]
    public string Href { get; set; } = null!;

    [Parameter]
    public string? Target { get; set; }

    [Parameter]
    public Orientation Orientation { get; set; } = Orientation.Horizontal;

    [Parameter]
    public MenuMode Mode { get; set; } = MenuMode.Hover;

    [Parameter]
    public MarkupString? LeftIcon { get; set; }

    [Parameter]
    public MarkupString? RightIcon { get; set; }

    [Parameter]
    public string Text { get; set; } = null!;

    [Parameter]
    public string TextSize { get; set; } = "";

    [Parameter]
    public bool IsMouseOver { get; set; } = false;

    [Parameter]
    public EventCallback<bool> IsMouseOverChanged { get; set; }

    [Parameter]
    public bool IsSubMenuVisible { get; set; } = false;

    [Parameter]
    public EventCallback<bool> IsSubMenuVisibleChanged { get; set; }

    [Parameter]
    public RenderFragment? ChildContent { get; set; }

    [Parameter]
    public string Background { get; set; } = "bg-blue-400";

    [Parameter]
    public string BackgroundHover { get; set; } = "bg-blue-800";

    private string GetDropdownCssClass()
    {
        switch (Orientation)
        {
            case Orientation.Horizontal:
                if (Mode == MenuMode.Hover)
                {
                    return "absolute block top-full left-0";
                }
                else
                {
                    return "block";
                }
            case Orientation.Vertical:
                if (Mode == MenuMode.Hover)
                {
                    return "absolute block top-0 left-full";
                }
                else
                {
                    return "block";
                }
        }

        return "";
    }

    private string GetCssClass()
    {
        var cssClass = "px-4 py-2 text-white block whitespace-nowrap";
        var isActive = new Uri(Navigation.Uri).AbsolutePath.Equals(Href, StringComparison.OrdinalIgnoreCase);

        return $"{cssClass} " +
        ((isActive || IsMouseOver || IsSubMenuVisible) ? BackgroundHover : Background) +
        " " +
        (!string.IsNullOrWhiteSpace(TextSize) ? $"text-{TextSize}" : string.Empty);
    }

    private async void OnClicked()
    {
        if (Mode != MenuMode.Click || ChildContent == null)
        {
            if (string.IsNullOrWhiteSpace(Href))
            {
                await OnClick.InvokeAsync(this);
            }
            else
            {
                Navigation.NavigateTo(Href);
            }
            return;
        }

        IsSubMenuVisible = !IsSubMenuVisible;

        await IsSubMenuVisibleChanged.InvokeAsync(IsSubMenuVisible);
    }

    private async void OnMouseEnter()
    {
        IsMouseOver = true;

        await IsMouseOverChanged.InvokeAsync(true);

        if (Mode != MenuMode.Hover)
        {
            return;
        }

        IsSubMenuVisible = true;
        await IsSubMenuVisibleChanged.InvokeAsync(true);

    }

    private async void OnMouseLeave()
    {
        IsMouseOver = false;
        await IsMouseOverChanged.InvokeAsync(false);

        if (Mode != MenuMode.Hover)
        {
            return;
        }

        IsSubMenuVisible = false;
        await IsSubMenuVisibleChanged.InvokeAsync(true);

    }
}
