@inherits TazorBaseComponent
@inject NavigationManager Navigation
<div class=@Theme.TabNav.Wrapper>
    @foreach (var item in Items)
    {
        var itemClass = item == SelectedItem ? Theme.TabNav.SelectedItem : Theme.TabNav.Item;
        var linkClass = item == SelectedItem ? Theme.TabNav.SelectedLink : Theme.TabNav.Link;

        <div class=@itemClass>
            <a class=@linkClass @onclick=@(async () => await HandleTabClicked(item))>
                @item.LeftIcon
                @item.Text
                @item.RightIcon
            </a>
        </div>
    }
</div>