@inject IJSRuntime JS
<div id=@ElementId>
    @ChildContent
</div>

@code {
    [Parameter]
    public Action? OnClickedOutside { get; set; }

    [Parameter]
    public RenderFragment? ChildContent { get; set; }

    [Parameter]
    public string ElementId { get; set; } = Guid.NewGuid().ToString();

    protected override Task OnInitializedAsync () {
        JS.InvokeAsync<object>("addClickCheckEvent", ElementId, DotNetObjectReference.Create(this));
        return base.OnInitializedAsync ();
    }

    [JSInvokable]
    public void InvokeClickOutside () {
        OnClickedOutside?.Invoke ();
    }
}