@inject IJSRuntime JSRuntime
<a class="inline-block cursor-pointer" onclick=@(() => OnHandleChange(!IsDarkModeEnabled))>
    @HeroIcons.LightBulb(" w-5 h-5")
</a>
@*<Switch IsChecked=@IsDarkModeEnabled IsCheckedChanged="OnHandleChange" />*@

@code {
    [Parameter]
    public bool IsDarkModeEnabled { get; set; } = true;

    public EventCallback<bool> IsDarkModeEnabledChanged { get; set; }

    protected override async Task OnInitializedAsync()
    {
        IsDarkModeEnabled = await JSRuntime.InvokeAsync<bool>("getDarkMode");
        StateHasChanged();
    }

    public async void OnHandleChange(bool newValue)
    {
        IsDarkModeEnabled = newValue;

        await IsDarkModeEnabledChanged.InvokeAsync(newValue);

        await JSRuntime.InvokeVoidAsync("setDarkMode", IsDarkModeEnabled);
        StateHasChanged();
    }
}