@page "/components/command-palette"

<PageTitle>Command Palette - Tazor Docs</PageTitle>

<PageHead Title="Command Palette" />

<p class="leading-loose mb-4">The DataGrid is a Blazor component designed for presenting tabular data in a web application. It offers built-in features for paging and sorting data, enhancing the user experience and making it easier to navigate and analyze large datasets. Users can interact with the DataGrid to view different sections of data, and they can also arrange the data in ascending or descending order based on specific columns for better organization and analysis. This component simplifies the process of creating dynamic, interactive tables in Blazor web applications, providing a convenient way to display and manipulate data.</p>

<CommandPalette Commands=@_commands @bind-IsVisible=_isVisible />

@code {
    private IEnumerable<CommandDescription> _commands = Enumerable.Empty<CommandDescription>();
    private bool _isVisible = true;

    protected override void OnInitialized()
    {
        _commands = new[]
        {
            new CommandDescription
            {
                CanExecute = (i) => int.TryParse(i, out int _i),
                Name = "Search Invoices",
                Describe = (i) => $"Search invoices for '{i}'"
            },
            new CommandDescription
            {
                CanExecute = (i) => true,
                Name = "Search Customers",
                Describe = (i) => $"Search customers for '{i}'"
            }
        };
    }
}
