@page "/components/command-palette"

<PageTitle>Command Palette - Tazor Docs</PageTitle>

<PageHead Title="Command Palette" />

<p class="leading-loose mb-4">
    The command palette is a special modal that enables developers to create a list of commands that can be executed by the user.
</p>

<CommandPalette Commands=@_commands @bind-IsVisible=_isVisible />

<Button Clicked=@(() => _isVisible = true)>Show Command Palette</Button>

@code {
    private IEnumerable<CommandDescription> _commands = Enumerable.Empty<CommandDescription>();
    private bool _isVisible = false;

    protected override void OnInitialized()
    {
        _commands = new[]
        {
            new CommandDescription
            {
                CanExecute = (i) => int.TryParse(i, out int _i),
                Name = "Search Invoices",
                Describe = (i) => $"Search invoices for '{i}'"
            },
            new CommandDescription
            {
                CanExecute = (i) => true,
                Name = "Search Customers",
                Describe = (i) => $"Search customers for '{i}'"
            }
        };
    }
}
