@page "/components/dialog"
@using Tazor.Components.Forms

<PageTitle>Dialog - Tazor Docs</PageTitle>

<PageHead Title="Dialog" />

<p class="leading-loose mb-4">The DataGrid is a Blazor component designed for presenting tabular data in a web application. It offers built-in features for paging and sorting data, enhancing the user experience and making it easier to navigate and analyze large datasets. Users can interact with the DataGrid to view different sections of data, and they can also arrange the data in ascending or descending order based on specific columns for better organization and analysis. This component simplifies the process of creating dynamic, interactive tables in Blazor web applications, providing a convenient way to display and manipulate data.</p>

<TabNav Items=_exampleNavItems @bind-SelectedItem=_selectedExampleNavItem />
@if (_selectedExampleNavItem?.Key == "demo")
{
    <div class="py-3">
        <div class="flex gap-2">
            <Switch @bind-IsChecked=_showCloseButton />
            <Label>Show Close Button</Label>
        </div>
        <div class="mt-4">
            <Button Clicked=@(() => { _showDialog = true; StateHasChanged(); })>
                @HeroIcons.Window("inline-block w-5 h-5")
                Show Dialog
            </Button>
        </div>
    </div>
    <Dialog HideCloseButton=!_showCloseButton @bind-IsVisible=_showDialog Title="Sample Dialog">
        <Content>
            <p class="leading-loose">This is a dialog! See how it expands to fill the content?</p>
        </Content>
        <Footer>
            <Button Block Type=@ButtonType.SuccessOutline Clicked=@(() => { _showDialog = false; StateHasChanged(); })>Confirm</Button>
         </Footer>
     </Dialog>
}
else
{
    <CodeBlock Code=@Resources.Examples_DataGrid />
}

@code {
    private bool _showDialog;
    private bool _showCloseButton = true;

    private NavItem? _selectedExampleNavItem;
    private IEnumerable<NavItem> _exampleNavItems = new[]
    {
        new NavItem("Demo"),
        new NavItem("Code")
    };
}
