@page "/components/pager"

<PageTitle>Pager - Tazor Docs</PageTitle>

<PageHead Title="Pager" />

<p class="leading-loose mb-4">The Pager is a Blazor component designed to provide a user-friendly navigation interface for paginated content. It displays a list of page numbers, typically used in conjunction with a larger dataset, allowing users to easily move between different pages of content. This component simplifies the process of implementing pagination in Blazor applications, enhancing the user experience by enabling efficient navigation through a series of pages.</p>

<TabNav Items=_exampleNavItems @bind-SelectedItem=_selectedExampleNavItem />
@if (_selectedExampleNavItem?.Key == "demo")
{
    <Pager @bind-CurrentPage=_currentPage NumberOfVisiblePages="10" Pages="500" />
}
else {
<CodeBlock Code=@Resources.Examples_Pager />
}

@code {
    private int _currentPage = 35;

    private NavItem? _selectedExampleNavItem;
    private IEnumerable<NavItem> _exampleNavItems = new[]
    {
        new NavItem("Demo"),
        new NavItem("Code")
    };
}
